#item-box {
    @include flex();
    width: 100%;
    position: relative;
    @include flexbox();
    @include flex-direction(column);
     nav {
          width: 100%;
          height: .42rem;
          background: #fff;
          margin-bottom: .03rem;
          ul {
            width: 100%;
            height: 100%;
            @include flexbox();
            li {
              @include flex();
              text-align: center;
              line-height: .42rem;
              height: 100%;
              &.active {
                border-bottom: solid .03rem $base-color;
                color: $base-color;
              }
            }
          }
      }
     #item-List-swiper {
           @include flex();
           width: 100%;
           > div {
               position: absolute;
           }
         /*----单品页面中的  分类列表-----------------*/   
          #classifyList{
              width: 100%;
              height: 100%;
              .house-list{
                  margin-bottom: .05rem;
                  width: 100%;
                  
                  h2{
                     width: 100%;
                     height: .4rem;
                     line-height: .4rem;
                     margin-bottom: .02rem;
                     background: #fff;
                     padding:0 .1rem;
                      @include box-sizing(border-box);
                  }
                  ul{
                      width: 100%;
                      @include flexbox();
                      li{
                          @include flexbox(); //这个是管子元素的
                           @include flex-direction(column);
                           @include align-items(center);
                           @include justify-content(center);
                           @include box-sizing(border-box);
                         width: .97rem;
                         background: #fff;
                         margin:0 .02rem .02rem 0;
                         &:first-child{
                             margin-left: .02rem;
                         }
                         i{
                           font-size: .24rem;
                           padding-top: .02rem;
                         }
                         b{
                            font-size: .12rem;
                            padding: .08rem;
                            font-weight: normal; 
                         }
                         &:first-child{
                            i{
                                 color:salmon;
                            }
                         }
                         &:nth-child(2){
                             i{
                                 color: cornflowerblue;
                             }
                         }
                         &:nth-child(3){
                             i{
                                 color: gold;
                             }
                         }
                         &:nth-child(4){
                             i{
                                 color:slateblue;
                             }
                         }
                      }
                  }
              }
          }
        /*----单品页面中的  单品列表-----------------*/   
         #itemList{
            width: 100%;
            height: 100%;
            ul {
              @include flexbox();
              margin:0 .03rem .03rem;
              li {
                &:not(:nth-child(2)) {
                  @include flex();
                }
                h1{
                  width: 100%;
                  display: block;
                  img {
                    width: 100%;
                  }
                }
                div{
                    background: #fff;
                    padding:0 .08rem;
                    h2{
                      display: block;
                      @include box-sizing(border-box);
                      font-size: 14px;
                      font-weight: normal;
                      @include ellipsis(true);
                      // overflow: hidden;
                      // text-overflow: ellipsis;
                      // word-break: break-all;
                      // -webkit-line-clamp: 2;
                    }
                    p{
                       color: $base-color; 
                        @include flexbox();
                       span{
                          display:block;
                          @include flex();
                       } 
                       b{
                           font-weight: normal;
                           width: .85rem;
                           @include flex();
                           text-align: right;
                           i{
                               padding: 0 .05rem;
                           }
                       }
                    }
                }
                &:nth-child(2) {
                  width: .03rem;
                }
              }
            }
         }  
    }    
  }
